// GRID VARIABLES
$grid-columns: 12;
$grid-max-width: 100%;


// BREAKPOINTS
// $breakpoint-small: "only screen and (min-width: 20em)";
// $breakpoint-medium: "only screen and (min-width: 481px)";


// COLORES
$colorNegro: #000;
$colorBlanco: #fff;
$colorPrincipal: #343a40;
$colorSecundario: #f8f9fa;
$colorPreMenu: #f8f9fa;
$colorBreadCrumb :#fcfcfc;
$colorMenu: #343a40;
$colorBotones: #1a73e8;
$colorBotones2:#47c2fc;
$colorTextoOscuro: #333333;
$colorTexto: #666666;
$colorTextoClaro: #888888;
$colorTextoOscuro: #343841;
$colorGrisClaro: #e1e1e1;
$colorGrisMasClaro: #f4f4f4;
$colorIcons: #1a73e8; 
$colorLink: #1a73e8;
$colorLinkHover: #1a9ce8;
$colorH1: #111111;
$colorH2: #111111;
$colorH3: #0b70c4;
$colorFondoContacto: #ffffff;
$colorFondoFooter: #ffffff;
$colorConOpacidad: rgba(0,0,0, 0.8);
$colorConOpacidad2: rgba(21, 113, 173, 0.9);
$colorRojoOscuro: #ef4253;
$colorVerde: #368900;
$colorDestacado: #00bee9;   



