/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
  
  #header #logo img {
    padding: 0;
    margin: 0;
    max-height: 30px;
  }

  .linea {
    margin-right: -15px;
    margin-left: -15px;
  }