{% if content %}
    <div {{ attributes.addClass(['grid']) }}>
        {% if content.main %}
            <div {{ region_attributes.main.addClass(['grid-item']) }}>
                {{ content.main }}
            </div>
        {% endif %}
    </div>
{% endif %}