{% extends 'page.html.twig' %}

{% block main %}
    <main class="layout-content_internas">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 layout-grid-wrapper">
                    {% block content %}
                    <div class="bloque-contacto layout-grid-box">
                    {{ page.content }}
                    </div>
                    {% endblock %}
                </div>
                <div class="col-12 col-lg-4 layout-grid-wrapper">
                    {% block right %}
                        {% if page.right %}
                            {{ page.right }}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
